
<div class="container" id="skill">
<mat-card>
  <div class="text-center my-1">
    <h2 class="my-1">
       SKILLS
    </h2>
    </div>
      <div class="row">
        <div class="col-md-12 skillshow">
         
                <div class="text-center my-1">
                  <h2 class="my-1">
                      TECHNICAL SKILLS
                  </h2>
                  </div>
                <div class="article-container">
  
                  <article>
                    <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                    <div>
                      <h3>HTML</h3>
                
                    </div>
                  </article> 
                  <article>
                    <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                    <div>
                      <h3>CSS</h3>
                
                    </div>
                  </article>
                  <article>
                    <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                    <div>
                      <h3>JavaScript</h3>
                
                    </div>
                  </article>
                  <article>
                    <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                    <div>
                      <h3>TypeScript</h3>
                
                    </div>
                  </article>
                  <article>
                    <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                    <div>
                      <h3>Angular 14</h3>
                      
                    </div>
                  </article>
                  <article>
                    <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                    <div>
                      <h3>Angular Material</h3>
                      
                    </div>
                  </article>
                  <article>
                    <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                    <div>
                      <h3>SASS</h3>
                
                    </div>
                  </article>
                 
                  <article>
                    <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                    <div>
                      <h3>RxJs</h3>
                
                    </div>
                  </article>
                  <article>
                    <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                    <div>
                      <h3>Media Query</h3>
                
                    </div>
                  </article>
  
                </div>
              </div>
            </div>
          
        <div class="col-md-12">
          <div class="experience-details-container">
            <div class="text-center my-3">
              <h2 class="my-2">
                  PROFESSIONAL SKILLS
              </h2>
            </div>
            <div class="article-container">
  
              <article>
                <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                <div>
                  <h3>Creativity</h3>
            
                </div>
              </article>
              <article>
                <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                <div>
                  <h3>Communication</h3>
            
                </div>
              </article>
              <article>
                <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                <div>
                  <h3>Problem Solving</h3>
                  
                </div>
              </article>
              <article>
                <img src="https://cdn-icons-png.flaticon.com/512/665/665939.png" alt="Experience-icon" title="Experience-icon" class="icon">
                <div>
                  <h3>Teamwork</h3>
            
                </div>
              </article>
             
  
            </div>
          </div>
        </div>
      

      
    
  

    <!-- <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <div class="my-4">
                    <div class="lab d-flex justify-content-between my-2">
                        <label for="file">HTML5</label>
                        <span _ngcontent-jhe-c21="" class="progress-value">75%</span>
                    </div>
                    <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                </div>
                <div class="my-4">
                    <div class="lab d-flex justify-content-between my-2">
                        <label for="file">CSS3</label>
                        <span _ngcontent-jhe-c21="" class="progress-value">75%</span>
                    </div>
                    <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                </div>
                <div class="my-4">
                    <div class="lab d-flex justify-content-between my-2">
                        <label for="file">JAVASCRIPT(ES6)</label>
                        <span _ngcontent-jhe-c21="" class="progress-value">70%</span>
                    </div>
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                </div>
                <div class="my-4">
                    <div class="lab d-flex justify-content-between my-2">
                        <label for="file">SCSS(SASS)</label>
                        <span _ngcontent-jhe-c21="" class="progress-value">70%</span>
                    </div>
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                </div>
                <div class="my-4">
                    <div class="lab d-flex justify-content-between my-2">
                        <label for="file">RXJS</label>
                        <span _ngcontent-jhe-c21="" class="progress-value">70%</span>
                    </div>
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                </div>

            </div>
            <div class="col-md-6">
                <div class="my-4">
                    <div class="lab d-flex justify-content-between my-2">
                        <label for="file">TYPESCRIPT</label>
                        <span _ngcontent-jhe-c21="" class="progress-value">70%</span>
                    </div>
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                </div>
                <div class="my-4">
                    <div class="lab d-flex justify-content-between my-2">
                        <label for="file">ANGULAR MATERIAL</label>
                        <span _ngcontent-jhe-c21="" class="progress-value">70%</span>
                    </div>
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                </div>
                <div class="my-4">
                    <div class="lab d-flex justify-content-between my-2">
                        <label for="file">BOOTSTRAP</label>
                        <span _ngcontent-jhe-c21="" class="progress-value">75%</span>
                    </div>
                    <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                </div>
                <div class="my-4">
                    <div class="lab d-flex justify-content-between my-2">
                        <label for="file">ANGULAR 14</label>
                        <span _ngcontent-jhe-c21="" class="progress-value">70%</span>
                    </div>
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                </div>
                <div class="my-4">
                    <div class="lab d-flex justify-content-between my-2">
                        <label for="file">NODE.JS</label>
                        <span _ngcontent-jhe-c21="" class="progress-value">10%</span>
                    </div>
                    <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
                </div>

            </div>
        </div>
    </mat-card-content> -->
</mat-card>
</div>