<div class="container-fluid my-4">
    <div class="row"id="ids">
    
        <mat-card>
            <div class="text-center my-3">
                <h1>ABOUT</h1>
            
            </div>
            <mat-card-content>
                <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 text-uppercase">

                        <h2 class="my-2 text-center">
                            BASIC INFORMATION
                        </h2>
                        <div class="row">
                            <div class="col-sm-4">
                                <b>Email :</b>
                            </div>
                            <div class="col-sm-8">
                                <p>{{mail}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <b>Phone :</b>
                            </div>
                            <div class="col-sm-8">
                                <P>8261890019</P>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <b>Address :</b>
                            </div>
                            <div class="col-sm-8">
                                <P>1. Plot 9, Anand Society, Satara </P>
                                <p>2. Kothrud,Pune</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <b>Languages Known :</b>
                            </div>
                            <div class="col-sm-8">
                                <P> Marathi,Hindi,English,Japanese</P>
                            </div>
                        </div>


                    </div>
                
                <!-- <div class="col-md-4">
                    <h2 class="my-2 d-flex justify-content-center">
                        ABOUT
                    </h2>
                
                        <ul class="texts">
                            <li>
                                Front End Developer with 3+ years of experience
                            </li>
                            <li>
                                Worked with agile methodologies
                            </li>
                            <li>
                                Expertise in Angular 14, Angular Material, RxJs, Javascript, SASS, CSS3, HTML5 and UI with Responsive Designs
                                Have good understanding of Jquery, Bootstrap, Typescript, Firebase and Postman
                            </li>
                        </ul>
                    
                </div> -->
                <div class="col-md-6" data-aos="fade-right">
                   
                      <h2 class="my-2 text-center">EDUCATION</h2>
                    
                    <div class="contents">
                      <div class="box">
                        <h4>2008 - 2011</h4>
                        <h3>Bachelor's Computer Application</h3>
                        <p>
                         College of Computer Application for Women,Satara
                        </p>
                      </div>
                      
                    </div>
          
                  </div>
                </div>
            </div>
            </mat-card-content>
           
        </mat-card>
    
</div>
</div>