<mat-card>
  
  <mat-card-content>
    <h3 style="margin: 0; padding: 0px;"><strong>Front End Angular Developer with 3+ years of experience</strong></h3>
    <!-- <h5><br> HTML , CSS <br> JAVASCRIPT , TYPESCRIPT<br> ANGULAR , ANGULAR MATERIAL <br>SCSS , BOOTSTRAP. </h5> -->
    <h5>Expertise in Angular 14, Angular Material, RxJs,<br>Javascript, SASS, CSS3, HTML5 and UI with Responsive Designs
     <br> Have good understanding of Jquery, Bootstrap, Typescript, Firebase and Postman</h5>


  </mat-card-content>
  <mat-card-footer>
    <div class="text-right m-2">
      <button mat-raised-button color="warn" (click)="close()">Close</button>
    </div>
    
  </mat-card-footer>

</mat-card>