
<div class="img1" id="home" style="background-image: url(./assets/images/bannernew.jpg); padding-top: 10%;"> 
    
  <div class="container">
    <section class="home">
      <div class="row">
        <div class="col-md-4  offset-md-1 text-center">
          <img src="./assets/images/profile.jpg" class="profile" style="border-radius:50%; width: 273px; height:270px; border: 4px solid  rgb(140, 140, 222)" alt="">
      </div>
        <div class="col-md-6">
            <div class="home-content text-white" style="margin-left: 14%;">
                <h1>Hello </h1>
                <h1> 👋 I'm  <span>pradip <br></span> a front end angular Developer</h1>
    
                <p>Seeking a challenging experience where I can apply my skills and experience in a new role.
                  Motivated junior developer with skills in HTML, CSS, and JavaScript,Angular seeking to contribute to dynamic projects and grow professionally.
                </p>
    
    <div class="d-flex justify-content-between">
      <a href="assets/images/pradip cv.pdf" target="_blank" style="text-decoration: none;" mat-raised-button color="primary">Download</a>
     
        <button mat-raised-button color="accent"  (click)="matdialogbox()"> Experience</button>
    </div>
            </div>
        </div>
        
      </div>

    </section>
</div>
</div>     
        