<div class="container-fluid my-4">
    <div class="row"id="ids">
    
        <mat-card>
            <div class="text-center my-3">
                <h1>ABOUT</h1>
            
            </div>
            <mat-card-content>
                <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 text-uppercase">

                        <h2 class="my-2 text-center">
                            BASIC INFORMATION
                        </h2>
                        <div class="row">
                            <div class="col-sm-4">
                                <b>DATE OF BIRTH :</b>
                            </div>
                            <div class="col-sm-8">
                                <P>19/08/1998</P>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <b>Email :</b>
                            </div>
                            <div class="col-sm-8">
                                <P>pradipbkamble001@gmail.com</P>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <b>Phone :</b>
                            </div>
                            <div class="col-sm-8">
                                <P>+919730893692</P>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <b>Address :</b>
                            </div>
                            <div class="col-sm-8">
                                <P>At Post Borwand Bk Tq Dist parbhani-431521 </P>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <b>Language :</b>
                            </div>
                            <div class="col-sm-8">
                                <P> Marathi,Hindi,English</P>
                            </div>
                        </div>


                    </div>
                
                <!-- <div class="col-md-4">
                    <h2 class="my-2 d-flex justify-content-center">
                        ABOUT
                    </h2>
                
                        <ul class="texts">
                            <li>
                                Front End Developer with 3+ years of experience
                            </li>
                            <li>
                                Worked with agile methodologies
                            </li>
                            <li>
                                Expertise in Angular 14, Angular Material, RxJs, Javascript, SASS, CSS3, HTML5 and UI with Responsive Designs
                                Have good understanding of Jquery, Bootstrap, Typescript, Firebase and Postman
                            </li>
                        </ul>
                    
                </div> -->
                <div class="col-md-6" data-aos="fade-right">
                   
                      <h2 class="my-2 text-center">EDUCATION</h2>
                    
                    <div class="contents">
                      <div class="box">
                        <h4>2016 - 2020</h4>
                        <h3>Bachelor's Engineer</h3>
                        <p>
                         Shri Shivaji Institute Of Engineer &amp; And Managemant Studies Parbhani
                        </p>
                        <ul>
                          <li>Completed Batchelor's with CGPA of <strong>9.73</strong>, Grade : <strong>O</strong>.</li>
                          <li>During my academic year participated in <strong>National Service Scheme</strong>.</li>
                          <li>Along with my degree, completed basic computer courses like  and FrontEnd Languages such as HTML5, CSS, JavaScript, TypeScript, Angular, Angular Material,
                            Bootstrap,etc.
                          </li>
                        </ul>
                      </div>
                      
                    </div>
          
                  </div>
                </div>
            </div>
            </mat-card-content>
           
        </mat-card>
    
</div>
</div>