
<div class="container-fluid my-5" id="Experience">
<mat-card class="my-4">
  <div class="text-center my-3">
    <h2>WORK EXPERIENCE</h2>

</div>
        <div class="row d-flex justify-content-between">
          <div class=" col-md-4 box angu">
            <h4 style="color: white;">Sep 2022 - Present</h4>
            <h3>HARVEST DESIGNS</h3>
            <p style="color: white;">Front-End Angular Developer.</p>
            <ul>
              <li>  Led the front-end development for an E-commerce domain, ensuring a seamless and user-friendly experience. The
                major services include sales of electrical accessories like transformers, solar panels, motors and batteries.
                .</li>
              <li> Created different modules, components using Angular Material, pipes and directives in Angular as per business
                requirements.
                .
                </li>
                <li>
                  Implemented responsive web design techniques to ensure that the e-commerce website functions well across various
                  devices and screen sizes, providing a consistent user experience on desktops, tablets, and smartphones.
                </li>
                <li>
                  Implementation of different types of Quotation forms using reactive forms in Angular and TD form for Login and
                  Signup Component.
                </li>
                <li>
                  Optimized the frontend performance by applying best practices such as code splitting, lazy loading, and caching.
                </li>
                <li>
                  Monitor and analyze website performance metrics (e.g., page load time, time to interact) to identify and address
                  performance bottlenecks Overcame data integration challenges in the user module implementing a custom API,
                  ensuring accurate and up-to-date information&nbsp;to&nbsp;users.
                </li>
            </ul>
          </div>
          <div class="col-md-4 box">
            <h4>Aug 2021 - Sep 2022</h4>
            <h3>HARVEST DESIGNS</h3>
            <p>Front End UI Developer</p>
            <ul>
              <li>Converted PSD into responsive HTML using Bootstrap 4.</li>
              <li>Created interactions using JavaScript</li>
              <li>
                ·	Proficient in HTML5, CSS3, and JavaScript (ES6+)
	Experienced with  frameworks like Bootstrap4 and CSS.
	Familiarity with UI component libraries like Angular Material
Knowledge of JavaScript frameworks like Angular
Understanding of responsive web design and mobile-first approach
	Familiarity with version control systems like Git

              </li>
              <li>
                Fixing issues raised by team.
              </li>
              
            </ul>
          </div>
          <div class=" col-md-4 box">
            <h4>Jan 2021 - AUG 2021</h4>
            <h3>HARVEST DESIGNS</h3>
            <p>Application Support Engineer</p>
            <ul>
              <li>Coordinated with Level 1 technical support specialists to take over calls ouside their level of support.</li>
              <li>Assisted customers with more diffcult Technical issues requiring a greater level of personalized care and in greater length.</li>
              <li>
                Diagnose and troubleshoot software and hardware problems and help our clients install applications and programs.
              </li>
              
        
            </ul>
          </div>
        </div>
          
      
     
     
   
</mat-card>
</div>