<!-- 
     
    
   
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent text-dark">
      <a class="navbar-brand">Navbar</a>
      <button class="navbar-toggler" id="btntoggle" (click)="onclick(opendiv)" type="button" data-toggle="collapse " data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       
        <span class="fa-solid fa-bars"   id="toolbaar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" #opendiv id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" >
            <a class="nav-link smooth-scroll" href="#ids">about</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link smooth-scroll" href="#skill">skills</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link smooth-scroll" routerLink="projct">project</a>
          </li>
        </ul>
      </div>
    </nav>
      
  
  <div class="img1" id="img">     
  </div> 
  <figcaption>
    <div class="row d-flex justify-content-between">
   
      <div class="col-md-6">
        <h1 class="text-uppercase head ml-4">
          front end angular developer
        </h1>
      </div>
      <div class="col-md-6">
       <div class="im ml-auto">
         <div class="img2" id="img2"></div> 
      </div>
       </div>
      </div>
      <img class="img2" src="./assets/images/img2.jpg" alt="img1">
  </figcaption>
  </figure>
  
  

  
      
    
  
     -->
  
    <app-navbar></app-navbar>
    <app-home ></app-home>
    <app-about ></app-about>
  <app-skills></app-skills>
  <app-experience></app-experience>
  <app-contact></app-contact>
    
       
      
  
  
  
   