
     
    
   
   <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " id="navs">
    <a class="navbar-brand logo"><span>Pra</span>dip </a>
    <button class="navbar-toggler" id="btntoggle" (click)="onclick(opendiv)" type="button" data-toggle="#navbarNav" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars text-white" id="hide"></i>
                 
    </button>
    <div class="collapse navbar-collapse justify-content-end" #opendiv id="navbarNav">
      <ul class="navbar-nav ml-auto text-uppercase" id="ullist">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link"  (click)="onclicklist()"  href="#home">home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="onclicklist()" href="#ids">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  (click)="onclicklist()"  href="#skill">skills</a>
        </li>
       
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="onclicklist()" href="#Experience">Experience</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="onclicklist()" href="#contact">contact</a>
        </li>
      </ul>
    </div>
  </nav>
      
  
  <!-- <div class="img1" id="img"> 
    
    <div class="container">
      <section class="home" style="margin-top:10%;">
        <div class="row">
          <div class="col-md-4  offset-md-1 align-text-center">
            <img src="./assets/images/profile.jpg" class="profile" style="border-radius:50%; width: 273px; margin-left:80px; height:270px; border: 4px solid  rgb(140, 140, 222)" alt="">
        </div>
          <div class="col-md-6">
              <div class="home-content text-white">
                  <h1>Hello </h1>
                  <h1> 👋 I'm  <span>pradip <br></span> a front end angular Developer</h1>
      
                  <p>Seeking a challenging experience where I can apply my skills and experience in a new role.
                    Motivated junior developer with skills in HTML, CSS, and JavaScript,Angular seeking to contribute to dynamic projects and grow professionally.
                  </p>
      
      <div class="d-flex justify-content-between">
        <a href="assets/images/pradipk cv.pdf" style="text-decoration: none;" mat-raised-button color="primary" download="pradipk cv.pdf" target="_blank">Download</a>
       
          <button mat-raised-button color="accent"  (click)="matdialogbox()"> Experience</button>
      </div>
              </div>
          </div>
          
        </div>
  
      </section>
  </div>
  </div>  -->
  
  