body{
    scroll-behavior: smooth;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: rgb(175, 176, 249);
    font-size: 16px;
    
}

.navbar-brand{
    color: rgb(195, 95, 12);
}
.navbar-expand-lg .navbar-nav .active>.nav-link, 
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link.show,
.navbar-expand-lg .navbar-nav .show>.nav-link{
    color: rgb(28, 150, 226);
   
  
}
.nav-link{
    cursor: pointer;
    
}

#toolbaar{
    color:pink;
}
// .img1{
// //     background-attachment: fixed;
// // object-fit: cover;

// // background-repeat: no-repeat;
// // display: flex;
// // justify-content: center;

// //     width: 100%;
// //     height: 100%;
//     display: flex;
//     height: 100vh;
//     background-size: cover;
//     background-attachment: fixed;
//     color: white;
//     min-height: 500px;
//     font-family: "Ubuntu", sans-serif;
//    background-image: url(assets/images/profile.jpg);
// }
.logo{
    font-size: 40px;
    font-weight: 800;
    color: aqua;
    text-decoration: none;
    transition: 0.6s ease;
}


span{
    color: rgb(210, 13, 232);
}

// @media all and (max-width:650px){
//     .home{
//         margin-top: 10%;
//     }
    
// }
// @media all and (min-width:450) {
//     .home{
//         margin-top: 30%;
//     }
// }

// // .head {
// //     font-size: 70px;
// //     font-style: normal;
// //     font-weight: 700;
// //     line-height: 110%;
// //     position:absolute;
// //     top:20%;
// //     left:20%;
// //     background: var(--Title-Gradient,linear-gradient(90deg,#239982 -1.88%,#6d64d3 104.56%));
// //     background-clip: text;
// //     -webkit-background-clip: text;
// //     -webkit-text-fill-color: transparent;
// // }

// .img2{
// position:absolute;
// height: 283px;
// width: 283px;
// top: 25%;
// left: 15%;
// border-radius: 50%;

// border: 15px solid wheat;
// transition: all .3s ease-out;
//  }
 nav.sticky{
    background-color: rgb(31, 15, 87) ;
}
// // .subcontent{
// //     position: absolute;

// // }
